<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SwiftUI-Test.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9ED458AC2A5D48B5000ADDEE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9ED458BC2A5D48B6000ADDEE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9ED458C62A5D48B6000ADDEE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
